<% provide(:title, "Home") %>
<h1>Carnegie Mellon Invitational 2015</h1>
<div class="center">
  <p>
    Welcome to the Carnegie Mellon 2016: Pundementals of Debate.<!--  <%= link_to "Click here for a campus map.", "https://www.dropbox.com/s/3b5egxh26cyag0n/Pitt%202015%20Map.pdf?dl=0" %> -->
  </p>
  <p>
    Congratulations on finding the site! Here's a scottie dog for your efforts.
  <figure>
    <img src="http://farm3.staticflickr.com/2639/4171652645_60195b65cf_m.jpg" alt="I think he likes you">
    <figcaption>I think he likes you</figcaption>
  </figure>
</div> 

