<% provide(:title, "Home") %>
<h1>Carnegie Mellon Invitational 2015</h1>
<div class="center">
  <p>
    Welcome to the first annual Carnegie Mellon University parlimentary debate tournament.
  </p>
  <p>
    Congratulations on finding the site! Here's a scottie dog for your efforts.
  </p>
  <figure>
    <img src="http://farm3.staticflickr.com/2639/4171652645_60195b65cf_m.jpg" alt="I think he likes you">
    <figcaption>I think he likes you</figcaption>
  </figure>
</div>