<% provide(:title, "Home") %>
<h1>University of Pittsburgh Tournament</h1>
<div class="center">
  <p>
    Welcome to the Pitt 2015: Bring Matt Damon Home. <%= link_to "Click here for a campus map.", "https://www.dropbox.com/s/3b5egxh26cyag0n/Pitt%202015%20Map.pdf?dl=0" %>
  </p>
  <p style="margin-top:30px;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/University_of_Pittsburgh_Seal_(official).svg/1024px-University_of_Pittsburgh_Seal_(official).svg.png" height="300"/>
    <img src="http://a.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2015/06/3047165-poster-p-1-ares-iii-trailer-martian.jpg" height="300">
  </p>
</div>
