<% provide(:title, "Judge List") %>

<div>This will be updated soo - stay tuned. </div>
<!-- <h1>Judge List</h1>
<ul>
<li>Ananya Kumar</li>
<li>Ben Strom-Weber</li>
<li>Jonathan Pederson</li>
<li>Julie Scott</li>
<li>Kevin Shi</li>
<li>Kiran Matharu</li>
<li>Larry Feltz</li>
<li>Lisa Carter</li>
<li>Melanize Zaber</li>
<li>Michael Gormley</li>
<li>Nathan Fulton</li>
<li>Nikhil Jog</li>
<li>Noah Goetz</li>
<li>Patrick Jennings</li>
<li>Rohan Varma</li>
<li>Sharon Lin</li>
<li>Sri Rao</li>
<li>Theresa Ranni</li>
<li>Vijay Sampath</li>
<li>Will Crichton</li>
<li>Yvonne Yuan</li>
<li>Zeke Rosenberg</li>
</ul> -->