<h1>Admin Control Panel</h1>

<div>
  <a href="/admin/make_round" >Make a New Round</a>
</div>
<div>
  <a href="/admin/status" >View/Update Round Status</a>
</div>
<div>
  <a href="/admin/round_report" >View Brief Round Reports</a>
</div>
<div>
  <a href="/admin/make_judge" >Make Someone a Judge</a>
</div>