@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.user-field {
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.team-list {
  text-align: center;
}

.new-team, .new-user {
  width: 50%;
}

.ballot-table th {
 text-align: center;
}
.ballot-table tbody{
  border-spacing: 10px;
}
.ballot-table td{
  padding: 10px 5px 10px 5px;
}

.ballot-table tr {
 margin-top: 10px;
 border-spacing: 10px;
}

/* header*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}