<footer class="footer">
  <small>
    <a>CMU Debate Tournament</a>
    | created by <a>Noah Goetz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Github", '#' %></li>
    </ul>
  </nav>
</footer>