<footer class="footer">
  <small>
    <%= link_to "ScottyTab", "https://github.com/nsgoetz/CMUTournament" %>
    | created by <%= link_to "Noah Goetz", "https://github.com/nsgoetz" %></a>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "Contact", 'mailto:nsgoetz@gmail.com' %></small></li>
      <li><small><%= link_to "Github", 'https://github.com/nsgoetz/CMUTournament' %></small></li>
    </ul>
  </nav>
</footer>
